:root {
  --primary: #fff;
  --secondary: #111;
}

.btn:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.btn {
  padding: 8px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  display: block;
  width: 100%;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--outline-dark {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--secondary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 1.5rem;
  text-decoration: none;
}

.btn--large {
  padding: 8px 26px;
  font-size: 2rem;
  text-decoration: none;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: var(--primary);
  color: var(--secondary);
  transition: 250ms;
}
