/* Updated Listing Cards Styling */
.listing-cards {
  padding: 2rem;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-cards h1 {
  color: #252e48;
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(90deg, #ffd700, #daa520);
  border-image-slice: 1;
}

.listing-cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.listing-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.listing-cards__item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  list-style: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.listing-cards__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.listing-cards__item__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.listing-cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.listing-cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.listing-cards__item__img:hover {
  transform: scale(1.05);
}

.listing-cards__item__label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #daa520;
  border-radius: 3px;
}

.listing-cards__item__info {
  padding: 20px;
  font-size: 1rem;
  background-color: #fff;
  border-top: 3px solid #f7f7f7;
}

.listing-cards__item__title {
  color: #252e48;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.listing-cards__item__address,
.listing-cards__item__list_price,
.listing-cards__item__city-zip {
  color: #656565;
  font-size: 1rem;
  margin-bottom: 10px;
}

.listing-cards__item__list_price {
  font-weight: bold;
  color: green;
}

.listing-cards__item__details {
  display: flex;
  justify-content: space-between;
  color: #252e48;
  font-size: 1rem;
}

.listing-cards__item__bedrooms,
.listing-cards__item__bathrooms,
.listing-cards__item__parking {
  display: flex;
  align-items: center;
}

.listing-cards__item__bedrooms i,
.listing-cards__item__bathrooms i,
.listing-cards__item__parking i {
  margin-right: 5px;
}

/* Pagination Styling */
.listing-cards__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive Styling */
@media only screen and (max-width: 1024px) {
  .listing-cards__item {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .listing-cards__container {
    width: 100%;
  }
}